.chart-container {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 750px;
  margin: auto;
}

.chartLegend {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.legendItem {
  display: flex;
  align-items: center;
  margin: 5px;
}

.legendColorBox {
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-right: 10px;
}
