@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 7, 13, 89; 
  --background-start-rgb: 255, 215, 215; 
  --background-end-rgb: 255, 255, 255; 
  --primary-rgb: 31, 60, 136; 
  --accent-rgb: 238, 95, 87; 
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255; 
    --background-start-rgb: 7, 13, 89; 
    --background-end-rgb: 31, 60, 136; 
    --primary-rgb: 238, 95, 87; 
    --accent-rgb: 255, 215, 215; 
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.text-primary {
  color: rgb(var(--primary-rgb));
}

.text-accent {
  color: rgb(var(--accent-rgb));
}

.bg-primary {
  background-color: rgb(var(--primary-rgb));
}

.bg-accent {
  background-color: rgb(var(--accent-rgb));
}

.border-primary {
  border-color: rgb(var(--primary-rgb));
}

.border-accent {
  border-color: rgb(var(--accent-rgb));
}
