@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 34, 40, 49; /* #222831 - dark charcoal gray for text */
  --background-start-rgb: 238, 238, 238; /* #EEEEEE - off white */
  --background-end-rgb: 238, 238, 238; /* #EEEEEE - off white */
  --primary-rgb: 0, 173, 181; /* #00ADB5 - cool teal */
  --accent-rgb: 57, 62, 70; /* #393E46 - medium gray */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 238, 238, 238; /* #EEEEEE - off white for text */
    --background-start-rgb: 34, 40, 49; /* #222831 - dark charcoal gray */
    --background-end-rgb: 57, 62, 70; /* #393E46 - medium gray for gradient */
    --primary-rgb: 0, 173, 181; /* #00ADB5 - cool teal */
    --accent-rgb: 238, 238, 238; /* #EEEEEE - off white as accent */
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.text-primary {
  color: rgb(var(--primary-rgb));
}

.text-accent {
  color: rgb(var(--accent-rgb));
}

.bg-primary {
  background-color: rgb(var(--primary-rgb));
}

.bg-accent {
  background-color: rgb(var(--accent-rgb));
}

.border-primary {
  border-color: rgb(var(--primary-rgb));
}

.border-accent {
  border-color: rgb(var(--accent-rgb));
}
